* {
  box-sizing: border-box;
  font-size: 62.5%;
}
.root {
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 6rem;
}

.option {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

.st-btn {
  font-size: 3rem;
}

.hidden {
  display: none;
}
