* {
  box-sizing: border-box;
  font-size: 62.5%;
}
.root {
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: gray;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 3rem;
}
section {
  display: flex;
  flex-direction: column;
  width: 90rem;
  max-width: 70%;
  color: white;
  background-color: blue;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 5rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 6rem;
}

.option {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

.st-btn {
  font-size: 3rem;
}

.hidden {
  display: none;
}
