* {
  box-sizing: border-box;
  font-size: 62.5%;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 8rem;
  margin: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  border: .5rem solid rgb(61, 2, 92);
  box-shadow: 1rem 2rem 1rem black;
  margin: 4rem;
}
